<div class="centered-content ">
    <div class="login-container has-background-light p-5 is-rounded">
        <h1 class="title has-text-info is-size-2 has-text-weight-bold">Login</h1>
        <div class="field has-background-light">
            <p class="control has-icons-left ">

                <input class="input" type="email" placeholder="Username/Email" [(ngModel)] = "username">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>

            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" [(ngModel)] = "password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-info" (click) ="login()">
                    Login
                </button>
            </p>
        </div>       
        <div class="field">
            <p class="control ">
                <a href="/register" class="has-text-info is-size-7" >
                    Don't have an account? Register here!
                </a>
               
            </p>
        </div>
    </div>
</div>

<div class="notification is-danger" *ngIf = "failedLogin">
    <button class="delete" (click) ="failedLogin = !failedLogin"></button>
    {{ notificationMessage }} 
  </div>